################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ToyScript/v15
/CoreLib/x64/Debug
*.filters
*.user
x64/*